/* HTML tags */
h1,
h3,
p,
.btn,
.navbar-nav a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    letter-spacing: -1px;
    color: #73879C;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    letter-spacing: 0px;
    color: #231f20;
    font-weight: 700;
}

p {
    font-size: 17px;
    line-height: 22px;
    color: #929496;
    font-weight: 400;
}

a {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #231f20;
      -webkit-transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

::selection {
  background: #231f20;
  /* Safari */
  color: #FFFFFF;
}

::-moz-selection {
  background: #231f20;
  /* Firefox */
  color: #FFFFFF;
}
/*------------------Buttons---------------------*/

.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline: none;
}

.btn {
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
}

.btn-lg {
    font-size: 13px;
    line-height: 1.33;
    padding: 22px 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-primary {
  background-color: #70cbce;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #8be2e5;
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/*For Events Collapse*/

#nested-table {
  margin-bottom: 0px;
}

#expanded-data {
  margin-left: 20px;
}

table,
tbody {
  width: 100% !important;
  padding: 10px;
  font-size: 15px;

}

tr,
td {
  padding: 3px 3px 3px 10px;
  font-size: 15px;
  vertical-align: top; 
}
