<!DOCTYPE html>
<html lang="en"><head>
  <title>Heroes on the Water | Login</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!--Styles-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="css/login.css">

  <!--Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>

   <!-- FAVICON -->
  <link rel="icon" href="http://heroesonthewater.org/wp-content/uploads/2014/04/logo-ready-ad.png" type="image/png">

</head>
<body>

<div class="login-page">
    <div class="form">
    <h1><span class="fa fa-sign-in"></span></h1>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %> <div class="alert alert-danger"><%= message %></div><% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post" class="login-form">
        <input type="text" name="email" placeholder="email"/>
        <input type="password" name="password" placeholder="password"/>
        <button type="submit">Login</button>
        <p class="message">Not registered? <a href="/signup">Create an account</a></p>
        <p class="message">Or go <a href="/">home</a>.</p>
    </form>
    </div>
</div>
</body>
</html>