<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Heroes on the Water</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

  <!--Styles-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="css/signup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">


  <!--Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>


</head>



<body>




<div class="login-page">
  <div class="form">
    <h1><span class="fa fa-user-plus"></span></h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>


    <!--Sign Up Form-->
    <form action='/signup' method='post' class="login-form">

      </div> -->
      <!--Bootstrap DropDown Jquery-->
      <p> You are a... </p> 
      <select class="selectpicker" name="type" data-style="btn-info">
        <option value="participant">Participant</option>
        <option value="volunteer">Volunteer</option>
        <option value="manager">Manager</option>
        <option value="founder">Founder</option>
      </select>


      <br><br>


<br<br>
      <p id="blurb" class="blurb">Let us know  a little bit about yourself, your location, your experience paddling and/or fishing, your affiliation with the military, and we will be in touch shortly. Paddling and fishing experience not required.</p>

      <script type="text/javascript">
        $(function(){
          $('.selectpicker').on('change', function() {
            if ($('select[name=type]').val()=="participant") {
                  $("#blurb").html("Let us know  a little bit about yourself, your location, your experience paddling and/or fishing, your affiliation with the military, and we will be in touch shortly. Paddling and fishing experience not required.");
                  $("#specialBoxID").hide();
                  console.log($('[name="type"]').val());

            }

            else if ($('select[name=type]').val()=='volunteer' || $('select[name=type]').val()=='manager') {
              $("#blurb").html("Let us know  a little bit about yourself, your location, your experience paddling and/or fishing, any affiliation you may have with the military, and how you would like to serve as a volunteer and we will be in touch with you to explore the possibility. Paddling and fishing experience not required. Passion and wanting to serve our warriors is. We owe them our best.");
              $("#specialQBox").attr('placeholder', "How would you like to volunteer?");
              $("#specialBoxID").show();
              console.log($('[name="type"]').val());

            }
            else if ($('select[name=type]').val() == 'founder') {
              $("#blurb").html("Fill out the form below if you’re interested in starting a chapter and tell us a little bit about yourself, your kayak fishing experience, any affiliation with the military and where you are located. We will be back in touch with you to explore the possibility.<br><br>Thank you for your interest in giving back to those who have given so much for us!");
              $("#specialQBox").attr('placeholder', "Why do you want to start a HOW chapter?");
              $("#specialBoxID").show();
              console.log($('[name="type"]').val());
            }

          });
            
        });  
      </script>
      <br>

      <div class="sameline">
        <div class="cell leftcell">
          <div class="form-group">
            <input class="form-control"
            type='text' name='name' placeholder='Full name' />
          </div>
        </div>
        <div class="cell">
          <div class="form-group">
            <input class="form-control"
            type='text' name='email' placeholder="Email"/>
          </div>
        </div>
      </div>

      <div class="sameline">
        <div class="cell leftcell">
          <div class="form-group">
            <input class="form-control" 
            type='password' name='password' placeholder="Password" />
          </div>
        </div>
        <div class="cell">
          <div class="form-group">
            <input class="form-control"
            type='password' name='password_confirm' placeholder='Confirm Password' />
          </div>
        </div>
      </div>

      <div class="form-group">
        <input class="form-control"
        type='text' name='description' placeholder="Tell us a little about yourself"/>
      </div>
      <div class="form-group">
        <input class="form-control"
        type='text' name='howdidyouhear' placeholder="How did you hear about Heroes on the Water?"/>
      </div>        

     <div class="form-group" id="specialBoxID" >
        <input class="form-control"
        type='text' id="specialQBox" name='specialQ' placeholder="Why do you want to volunteer with Heroes on the Water?"/>
      </div>

      <script type="text/javascript">
        $("#specialBoxID").hide();
        //$("#specialQBox").val("Null");
        $('input[name="type"]').on('change', function() {
          if ($(this).val()=='participant' || $(this).val()=='manager') {
            $("#specialBoxID").hide();
           //$("#specialQBox").val("Null");
          }
          else if ($(this).val()=='volunteer') {
            $("#specialQBox").attr('placeholder', "How would you like to volunteer?");
            $("#specialBoxID").show();
          }
          else if ($(this).val()=='founder') {
            $("#specialQBox").attr('placeholder', "Why do you want to start a HOW chapter?");
            $("#specialBoxID").show();
          }
        });
      </script>

      <button type="submit">Signup</button>
      <p class="message">Already have an account? <a href="/login">Login</a></p>
      <p class="message">Or go <a href="/">home</a>.</p>
    </form>
    </div>
</div>
</body>
</html>